h1 {
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 800;
    color: blue;
    margin-bottom: 20px;
    padding: 10px;

}